
$main-background-color: #e0e0e0;
$main-color: #333;
$header-background-color: rgba(50,50,50,0.9);
$header-color: #FFF;
$default-padding: 10px;


/*
###########################
     Common properties 
###########################
*/
body {
	font-family: Gotham SSm, sans-serif;
	color: $main-color;
	font-size: 16px;
	width: 100%;
}

@media screen and (max-width: 575px) {
	body {
		font-size: 18px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}


/*
###########################
          Header
###########################
*/

.navbar {
	position: absolute;
	width: 100%;
	z-index: 10;
}




/*
###########################
           Main
###########################
*/
.main-container {
	width: 100%;
	min-height: 100vh;
	padding-left: 0;
	padding-right: 0;
	
	section {
		margin: 50px 1.5rem;
	}
}

.section-img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	width: 80%;
}

.section-text {
	margin: auto 0;
}

#home {
	background: $main-background-color url("../img/landing-cliffs.jpg") no-repeat center top;
	min-height: 100vh;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	
	h1 {
		position: absolute;
		margin-top: 45vh;
		margin-left: 5vw;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 2em;
		font-weight: bold;
		max-width: 285px;
		line-height: 3.5rem;
	}
}



/*
###########################
          Footer
###########################
*/
footer {
	width:100%;
	background-color: $header-background-color;
	color: $header-color;
	padding: 15px;
	text-align: center;
	
	.social {
		margin-bottom: 0;
		
		li {
			display: inline-block;
			margin-right:3rem;
			font-size: 1.3rem;
			line-height: 1.3rem;
			cursor: pointer;
		}
		
		li:last-child{
			margin-right:0;
		}
		
		li:hover {
			color: #000;
		}
		
		@media screen and (max-width: 450px){
			li {
				display: block;
				margin:10px 0;
			}
		}
	}
}
