
$main-background-color: #e0e0e0;
$main-color: #333;
$header-background-color: rgba(50,50,50,0.9);
$header-color: #FFF;
$default-padding: 10px;



/*
###########################
     Common properties 
###########################
*/
body {
	font-family: Gotham SSm, sans-serif;
	color: $main-color;
	font-size: 16px;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}




/*
###########################
          Layout 
###########################
*/

header {
	position: absolute;
	width: 100%;
	background-color: $header-background-color;
	color: $header-color;
	padding: 15px;
}

main {
	width: 100%;
	min-height: 100vh;
}

footer {
	width:100%;
	background-color: $header-background-color;
	color: $header-color;
	padding: 15px;
}




/*
###########################
          Header
###########################
*/
header h1{
	display: inline;
}

nav {
	float: right;
}

nav li{
	display: inline-block;
	width: 150px;
	text-align: center;
}

nav li:hover {
	background-color: #333;
	cursor: pointer;
	padding: 15px 0;
	margin-top: -15px;
	margin-bottom: -15px;
}





/*
###########################
           Main
###########################
*/
main section {
	margin: 10px 0;
}

#home {
	background: $main-background-color url("../img/landing-cliffs.jpg") no-repeat left top;
	min-height: 100vh;
	margin-top: 0;
}

#home h1 {
	position: absolute;
	margin-top: 45vh;
	margin-left: 5vw;
	text-transform: uppercase;
	color: #303030;
	font-size: 2em;
	font-weight: bold;
	max-width: 285px;
	line-height: 3.5rem;
}